/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-size: 90%;
  line-height: 1.5;
  font-family: "priori-sans",sans-serif;
  color: #393939; }
  p + p {
    margin-top: 1.5em; }

h1 {
  font-family: "abril-text",serif;
  font-size: 1.999em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 1.414;
  color: #393939;
  position: relative;
  z-index: 9999; }

h2 {
  font-family: "priori-sans",sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #393939; }

h3 {
  font-family: "neo-sans",sans-serif;
  font-family: "abril-text",serif;
  font-size: 1.414em; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

#main-logo {
  position: absolute;
  left: 5%;
  top: 2em;
  z-index: 9999;
  width: 100px; }

.button-blue, .button-white {
  border: 1px solid #CFDBC5;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 3px;
  text-align: center; }
  .button-blue:hover, .button-white:hover {
    cursor: pointer; }

.buttons {
  margin-top: 60px;
  width: 70%; }

.button-blue {
  background-color: #CFDBC5;
  margin: 1em 0; }

.button-white {
  background-color: #ffffff;
  margin: 1em 0;
  transition: all ease 150ms; }
  .button-white:hover {
    background-color: #CFDBC5;
    color: #ffffff; }

.fa-times {
  color: #e7e9ed;
  font-size: 2em; }

.blue-block, .grey-block {
  position: absolute; }

.blue-block {
  background-color: #CFDBC5; }

.grey-block {
  background-color: #e7e9ed; }

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../assets/img/bg.jpg");
  background-size: cover; }
  .banner .head-text {
    text-align: right; }
    .banner .head-text h2 {
      position: relative;
      color: #333; }
      .banner .head-text h2 span {
        background: #ffffff;
        z-index: 1;
        position: relative;
        padding-left: 1em;
        padding: 1em; }
      .banner .head-text h2::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #CFDBC5;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
  .banner .overlay {
    background-color: #393939;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .banner iframe {
    width: 100%;
    height: 100%; }
  .banner .cta {
    height: 70vh;
    width: 30vw;
    background: #ffffff;
    position: absolute;
    right: 5%;
    top: 0;
    bottom: 0;
    margin: auto;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .banner .cta p {
      font-size: 100%; }
  .banner .tag {
    color: #ffffff;
    font-size: 1.5em;
    bottom: 10%;
    left: 30%;
    letter-spacing: 5px;
    position: absolute;
    text-align: right; }
    .banner .tag::after {
      content: "";
      background-color: #CFDBC5;
      width: 2px;
      height: 200px;
      position: absolute;
      right: -10%;
      top: 0;
      margin: auto; }

.pre-blog {
  height: 100vh;
  position: relative; }
  .pre-blog .grey-block {
    width: 40%;
    height: 50%;
    right: 0;
    top: 50%; }
  .pre-blog .blue-block {
    width: 30%;
    height: 50%;
    left: 0; }
    .pre-blog .blue-block .offset-box {
      transform: translateX(50%) translateY(50%); }
      .pre-blog .blue-block .offset-box p {
        font-size: 90%; }
        .pre-blog .blue-block .offset-box p:first-of-type {
          font-size: 100%;
          font-weight: 600;
          text-transform: lowercase;
          font-style: oblique;
          color: #747474; }
  .pre-blog .head-text {
    position: relative;
    padding-bottom: 2em; }
    .pre-blog .head-text span {
      background: #CFDBC5; }
    .pre-blog .head-text h2::before {
      background-color: #98b7cf; }
    .pre-blog .head-text i {
      position: absolute;
      left: -10%;
      top: -5px; }
