// Imports

@import "_vars.scss";
@import "_typography.scss";
@import "_reset.scss";

// Global

body {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (2000 - 300)));
    max-width: 2000px;
    margin: 0 auto;
}

p {
    font-size: 1em;
    line-height: 1.5;
    font-family: "priori-sans",sans-serif;
    color: $dark-grey;
    &+p {
        margin-top: 1.5em;
    }
}

h1 {
    font-family: "abril-text",serif;
    font-size: 1.999em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    line-height: 1.414;
    color: $title;
    position: relative;
    z-index: 9999;
}

h2 {
 font-family: "priori-sans",sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $title;
}

h3 {
    font-family: "neo-sans",sans-serif;
    font-family: "abril-text",serif;
    font-size: 1.414em;
    line-height: 1.414;
    color: $title;
}

.overlay {
    background-color: #a5b896;
    background: $light-blue;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all ease 250ms;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.divider {
    width: 50%;
    height: 2px;
    background-color: $light-blue;
    margin: 1em 0;
}

#main-logo {
    position: absolute;
    left: 5%;
    top: 2em;
    z-index: 9999;
    width: 100px;
}

// Buttons

%button-padding {
    p {
        transition: all ease 250ms;
    }
    i {
        opacity: 0;
        width: 0;
        transition: all ease 250ms;
        padding: 0;
        color: #B0BFA1;
    }
    border: 1px solid $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 2em;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 3px;
    text-align: center;
    background-color: #cfdbc5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2399b085' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    &:hover {
        cursor: pointer;
        i {
            opacity: 1;
            width: auto;
            padding-left: 10px;
        }
    }
}

.buttons {
    margin-top: 60px;
    width: 70%;
}

.button-blue {
    background-color: $light-blue;
    @extend %button-padding;
    margin: 1em 0;
}

.button-white {
    background-color: $white;
    @extend %button-padding;
    margin: 1em 0;
    transition: all ease 150ms;
    &:hover {
        background-color: $light-blue;
        color: $white;
    }
}

// Icons

.fa-times {
    color: $light-grey;
    font-size: 2em;
}

// Headers

%background-block {
  position: absolute;
}

.blue-block {
    background-color: $light-blue;
    @extend %background-block;
    z-index: -1;
    top: 0;
}

.grey-block {
    background-color: $light-grey;
    @extend %background-block;
}

// Front Page

.banner {
    // transform: scaleX(-1);
    //     // filter: FlipH;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 85%);
    // clip-path: polygon(0 0, 100% 0, 100% 92%, 0 85%);
    i.fa-times {
        padding-bottom: 20px;
    }
    .head-text {
        text-align: right;
        h2 {
            position: relative;
            color: #333;
            span {
                background: $white;
                z-index: 1;
                position: relative;
                padding-left: 1em;
                padding-right: 0.4em;

            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $light-blue;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    height: 100vh;
    max-height: 1200px;
    width: 100%;
    position: relative;
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    iframe {
        width: 100%;
        height: 100%;
    }
    .cta {
        box-shadow: rgba(0, 0, 0, 0.0) 0 0 30px 0;
        height: 70%;
        width: 30vw;
        max-width: 600px;
        background: $white;
        position: absolute;
        right: 5%;
        top: 0;
        bottom: 0;
        margin: auto;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 9999;
        transition: box-shadow ease 250ms;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 110px -20px;
        }
        p {
            font-size: 100%;
        }
        .social {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: -45px;
            left: 0;
            right: 0;
            margin: auto;
            background: rgba($dark-grey, 0.7);
            a {
                transition: background ease 250ms;
                &:link {
                    text-decoration: none;
                }
                &:hover {
                    color: red!important;
                }
                padding: 0.5em 1em;
                &#fb:hover {
                    background: #3B5998;
                }
                &#twitter:hover {
                    background: #1DA1F2;
                }
                &#instagram:hover {
                    background: #262626;
                }
                &#youtube:hover {
                    background: #ff0000;
                }
            }
            p {
                margin: 0;
                color: $white;
                font-weight: bold;
            }
            .seperate {
                color: $light-blue;
            }
        }
        &:hover {
            & +.overlay {
                box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
            }
        }
    }
    .tag {
        color: $white;
        font-size: 1.5em;
        bottom: 10%;
        left: 30%;
        letter-spacing: 5px;
        position: absolute;
        text-align: right;
        &::after {
            content: "";
            background-color: $light-blue;
            width: 2px;
            height: 200px;
            position: absolute;
            right: -10%;
            top: 0;
            margin: auto;
        }
    }
}

.pre-blog {
    i {
        color: $light-blue;
    }
    min-height: 100vh;
    max-height: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    .wrapper {
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .left-block, .right-block {
        width: 50%;
        box-sizing: border-box;
        img {
            width: 50%;
            padding-top: 2em;
        }
    }
    .left-block {
        width: 60%;
        p {
            color: $title;
            line-height: 1.4;
            &:first-of-type {
                font-weight: bolder;
            }
        }
    }
    .right-block {
        width: 40%;
        p {
            font-family: "abril-text",serif;
            font-size: 2em;
            color: $title;
            position: relative;
            font-style: italic;
            &::before {
                content: '“';
                position: absolute;
                top: -70%;
                margin: auto;
                left: 0;
                font-size: 5em;
                color: $light-blue;
            }
            &::after {
                content: '-';
                position: absolute;
                bottom: -70%;
                margin: auto;
                left: 0;
                font-size: 5em;
                color: $light-blue;
            }
        }
    }
    .grey-block {
        width: 40%;
        height: 100%;
        right: 0;
        top: 0;
        opacity: 0.5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2399b085' fill-opacity='0.68' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

        // display: none;
    }
    .blue-block {
        width: 30%;
        height: 50%;
        left: 0;
        opacity: 0.5;
        display: none;
    }
    .head-text {
        position: relative;
        padding-bottom: 2em;
        span {
            // background: $light-blue;
        }
        h2 {
            &::before {
                background-color: $darker-blue;
            }
        }
        i {
            position: absolute;
            left: -10%;
            top: -5px;
        }
    }
}

.home-blog {
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // margin-top: -3em;

    .clear-block {
        width: 60%;
        height: 100%;
        right: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        // background-image: url("../assets/img/bgold.jpg");
        background-size: cover;
        filter:grayscale(100%);
        overflow: hidden;
    }

    .blue-block {
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $light-blue;
        position: absolute;
        z-index: 1;
        background-color: #cfdbc5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.28'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    }
    .blog-box {
        width: 95%;
        height: 50%;
        background-color: $white;
        margin-left: 5%;
        position: relative;
        z-index: 5;
        .blog-image {
            width: 63%;
            height: 100%;
            float: right;
            background-image: url("../assets/img/bgold.jpg");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .overlay {
                opacity: 0;
                transition: opacity ease 250ms;
                background-color: $dark-grey;
            }
            .buttons {
                width: auto;
                margin: auto;
                position: relative;
                z-index: 9999;
                &:hover {
                    &+.overlay {
                        opacity: 0.3;
                    }
                }
            }
        }
        .blog-content {
            float: right;
            width: 37%;
            background: $white;
            height: 100%;
            position: relative;
            padding: 3em;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            .head-text {
                width: 80%;
                margin: 0 auto;
                h3 {
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}

.post-blog {
    min-height: 100vh;
    max-height: 1200px;
    .right-block {
        // background-color: $light-grey;
        width: 50%;
        height: 100vh;
        max-height: 1200px;
        float: left;
    }
    .left-block {
        width: 50%;
        // background: blue;
        height: 50vh;
        float: left;
    }
}
