// Imports

@import "_vars.scss";
@import "_typography.scss";
@import "_reset.scss";

// Global

body {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (2000 - 300)));
    max-width: 2000px;
    margin: 0 auto;
}

p {
    font-size: 1em;
    line-height: 1.5;
    font-family: "priori-sans",sans-serif;
    color: $dark-grey;
    font-variant: discretionary-ligatures;
    &+p {
        margin-top: 1.5em;
    }
}

h1 {
    font-family: "abril-text",serif;
    font-size: 1.999em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    line-height: 1.414;
    color: $dark-main;
    position: relative;
    z-index: 9999;
}

h2 {
 font-family: "priori-sans",sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $dark-main;
}

h3 {
    font-family: "neo-sans",sans-serif;
    font-family: "abril-text",serif;
    font-size: 1.414em;
    line-height: 1.414;
    color: $dark-main;
}

.overlay {
    background-color: #a5b896;
    background: $light-main;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all ease 250ms;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.divider {
    width: 20%;
    height: 5px;
    background-color: $light-main;
    margin: 1.5em 0;
}

#main-logo {
    z-index: 1;
    width: 100px;
}

.dark-nav-bg {
    display: none;
    background: $dark-grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
}

header {
    position: absolute;
    // z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 15%;
    padding: 0 5%;
    transition: all ease 200ms;
    .burger-wrap {
        display: flex;
        position: fixed;
        z-index: 200000;
        right: 5%;
        mix-blend-mode: color-dodge;
        .burger {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: column;
            width: 50px;
            height: 20px;
            position: relative;
            transition: all ease 200ms;
            p {
                opacity: 0;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                color: white;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: bold;
                font-size: 0.9em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .line {
                width: 50px;
                height: 4px;
                background: $dark-main;
                transition: all ease 200ms;
                &.active {
                    background: $dark-main;
                }
            }
        }
        &.active {
            align-items: flex-start;
            justify-content: space-between;
            .burger {
                height: 30px;
            }
            p {
                opacity: 1;
            }
            .line {
                width: 50px;
                &:nth-of-type(2) {
                    opacity: 0;
                }
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

nav {
    &.main-nav {
        width: 100vw;
        height: 100vh;
        background-color: $light-main;
        display: none;
        position: fixed;
        z-index: 100000;
        overflow: auto;
        font-family: "priori-sans",sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: bold;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");

        li {
            a {
                color: $white;
                // font-weight: bold;
                text-decoration: none;
                font-size: 2em;
                line-height: 1.3;
                &:hover {
                    color: $dark-main;
                }
            }
            .sub-menu {
                display: none;
            }
            &.menu-item-has-children {
                position: relative;
                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f078";
                    color: $white;
                    position: absolute;
                    right: -10%;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    display: flex;
                    align-items: center;
                }
            }
            &.current-menu-item {
                a {
                    color: $dark-main;
                }
            }
        }
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .menu-main-navigation-container {
        position: relative;
        text-align: left;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -20px;
            background: $dark-main;
            width: 5px;
            height: 100%;
        }
    }
}

// Buttons

%button-padding {
    p {
        transition: all ease 250ms;
    }
    i {
        opacity: 0;
        width: 0;
        transition: all ease 250ms;
        padding: 0;
        color: #B0BFA1;
    }
    border: 1px solid $light-main;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 2em;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 3px;
    text-align: center;
    background-color: #cfdbc5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2399b085' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    &:hover {
        cursor: pointer;
        i {
            opacity: 1;
            width: auto;
            padding-left: 10px;
        }
    }
}

.buttons {
    margin-top: 60px;
    width: 70%;
}

.button-blue {
    background-color: $light-main;
    @extend %button-padding;
    margin: 1em 0;
}

.button-white {
    background-color: $white;
    @extend %button-padding;
    margin: 1em 0;
    transition: all ease 150ms;
    &:hover {
        background-color: $light-main;
        color: $white;
    }
}

// Icons

.fa-times {
    color: $light-grey;
    font-size: 2em;
}

// Headers

%background-block {
  position: absolute;
}

.blue-block {
    background-color: $light-main;
    @extend %background-block;
    z-index: -1;
    top: 0;
}

.grey-block {
    background-color: $light-grey;
    @extend %background-block;
}

// Front Page

.banner {
    // transform: scaleX(-1);
    //     // filter: FlipH;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 85%);
    // clip-path: polygon(0 0, 100% 0, 100% 92%, 0 85%);
    .overlay {
        transition: opacity ease 300ms;
        &.active {
            opacity: 0.8;
            &:hover {
                cursor: pointer;
            }
        }
    }
    i.fa-times {
        padding-bottom: 20px;
    }
    .head-text {
        text-align: right;
        h2 {
            position: relative;
            color: #333;
            span {
                background: $white;
                z-index: 1;
                position: relative;
                padding-left: 1em;
                padding-right: 0.4em;

            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 5px;
                background-color: $light-main;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    height: 100vh;
    max-height: 1200px;
    width: 100%;
    position: relative;
    background-image: url('../assets/img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    iframe {
        width: 100%;
        height: 100%;
    }
    .venue {
        height: 70%;
        width: 30%;
        background: white;
        position: absolute;
        right: 5%;
        top: 0;
        bottom: 0;
        margin: auto;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: width ease 500ms, transform ease 500ms;
        z-index: 2;
        &.active {
            transform: translateX(-50%);
            transition: width ease 500ms, transform ease 500ms;
            width: 60%;
        }
        .venue-content {
            width: 100%;
            height: 100%;
            display: flex;
            .venue-image {
                width: 40%;
                height: 100%;
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            .venue-desc {
                width: 60%;
                height: 100%;
                padding: 3em;
                box-sizing: border-box;
                display: flex;
                // align-items: center;
                justify-content:center;
                flex-direction: column;
                overflow: auto;
                .buttons {
                    margin-top: 1em;
                }
                h2 {
                    font-size: 2em;
                    padding-bottom: 1em;
                }
                p {
                    &.close {
                        position: absolute;
                        left: 20px;
                        top: 20px;
                        font-size: 1.2em;
                        font-weight: bold;
                        i {
                            color: $light-main;
                            &:hover {
                                color: $dark-main;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            display: none;
        }
    }
    .cta {
        box-shadow: rgba(0, 0, 0, 0.0) 0 0 30px 0;
        height: 70%;
        width: 30vw;
        max-width: 600px;
        background: $white;
        position: absolute;
        right: 5%;
        top: 0;
        bottom: 0;
        margin: auto;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: box-shadow ease 250ms;
        z-index: 9999;
        // &:hover {
        //     box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 110px -20px;
        // }
        p {
            font-size: 100%;
        }
        .social {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: -45px;
            left: 0;
            right: 0;
            margin: auto;
            background: rgba($dark-grey, 0.7);
            a {
                transition: background ease 250ms;
                &:link {
                    text-decoration: none;
                }
                &:hover {
                    color: red!important;
                }
                padding: 0.5em 1em;
                &#fb:hover {
                    background: #3B5998;
                }
                &#twitter:hover {
                    background: #1DA1F2;
                }
                &#instagram:hover {
                    background: #262626;
                }
                &#youtube:hover {
                    background: #ff0000;
                }
            }
            p {
                margin: 0;
                color: $white;
                font-weight: bold;
            }
            .seperate {
                color: $light-main;
            }
        }
        &:hover {
            & +.overlay {
                box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
            }
        }
        // &.active {
        //     box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 110px -20px;
        // }
    }
    .tag {
        color: $white;
        font-size: 1.5em;
        bottom: 10%;
        left: 30%;
        letter-spacing: 5px;
        position: absolute;
        text-align: right;
        &::after {
            content: "";
            background-color: $light-main;
            width: 5px;
            height: 200px;
            position: absolute;
            right: -10%;
            top: 0;
            margin: auto;
        }
    }
}

.pre-blog {
    // i {
    //     color: $light-main;
    // }
    min-height: 100vh;
    max-height: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    .wrapper {
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .left-block, .right-block {
        width: 50%;
        box-sizing: border-box;
        img {
            width: 50%;
            padding-top: 2em;
        }
    }
    .left-block {
        position: relative;
        width: 60%;
        p {
            color: $dark-main;
            line-height: 1.4;
            &:first-of-type {
                font-weight: bolder;
            }
        }
        .dog {
            position: absolute;
            bottom: 20px;
            right: 20px;
            text-align: center;
            svg {
                width: 10%;
                path {
                    fill: $light-main;
                }
            }
        }
    }
    .right-block {
        width: 40%;
        p {
            font-family: "abril-text",serif;
            font-size: 2em;
            color: $dark-main;
            position: relative;
            font-style: italic;
            &::before {
                content: '“';
                position: absolute;
                font-size: 200px;
                line-height: 0;
                color: $light-main;
            }
            // &::after {
            //     content: '-';
            //     position: absolute;
            //     font-size: 200px;
            //     line-height: 0;
            //     color: #CFDBC5;
            // }
        }
    }
    .grey-block {
        width: 40%;
        height: 100%;
        right: 0;
        top: 0;
        opacity: 0.5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2399b085' fill-opacity='0.68' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

        // display: none;
    }
    .blue-block {
        width: 30%;
        height: 50%;
        left: 0;
        opacity: 0.5;
        display: none;
    }
    .head-text {
        position: relative;
        // padding-bottom: 2em;
        span {
            // background: $light-main;
        }
        h2 {
            &::before {
                background-color: $darker-blue;
            }
        }
        // i {
        //     position: absolute;
        //     left: -10%;
        //     top: -5px;
        // }
    }
}

.home-blog {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // margin-top: -3em;

    .clear-block {
        width: 60%;
        height: 100%;
        right: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        // background-image: url("../assets/img/bgold.jpg");
        background-size: cover;
        filter:grayscale(100%);
        // overflow: hidden;
    }

    .blue-block {
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $light-main;
        position: absolute;
        z-index: 1;
        background-attachment: fixed;
        background-color: #cfdbc5;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    }
    .blog-box {
        width: 95%;
        height: 40%;
        background-color: $white;
        margin-left: 5%;
        position: relative;
        z-index: 5;
        .blog-image {
            width: 63%;
            height: 100%;
            float: right;
            background-image: url("../assets/img/bgold.jpg");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .overlay {
                opacity: 0;
                transition: opacity ease 250ms;
                background-color: $dark-grey;
            }
            .buttons {
                width: auto;
                margin: auto;
                position: relative;
                z-index: 9999;
                &:hover {
                    &+.overlay {
                        opacity: 0.3;
                    }
                }
            }
        }
        .blog-content {
            float: right;
            width: 37%;
            background: $white;
            height: 100%;
            position: relative;
            padding: 3em;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            .head-text {
                width: 80%;
                margin: 0 auto;
                h3 {
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}

.gallery {
    height: 100vh;
    max-height: 1200px;
    display: flex;
    background-color: $light-grey;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2399b085' fill-opacity='0.68' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    .image-block {
        width: 60%;
        background: red;
        height: 100vh;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .description-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        box-sizing: border-box;
        flex-direction: column;
        .slide-nav {
            display: flex;
            padding-bottom: 2em;
            i {
                padding: 5px;
                font-size: 2em;
                color: $light-main;
                &:hover {
                    color: $dark-main;
                }
            }
        }
        p {
            font-size: 2em;
            color: $dark-main;
            width: 70%;
            position: relative;
            text-align: center;
            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: -1em;
            //     left: -30%;
            //     height: 5px;
            //     background: $light-main;
            //     width: 70%;
            // }
        }
    }
}

.post-blog {
    min-height: 50vh;
    max-height: 1200px;
    width: 90%;
    margin: 0 auto;
    .buttons {
        // margin-top: 2em;
    }
    .left-block, .right-block {
        width: 50%;
        // min-height: 50vh;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 5em 0;
        // box-sizing: border-box;
        .input-fields {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;
            input {
                border: none;
                border-bottom: 1px solid #CFDBC5;
                font-family: "priori-sans",sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.5em 2em;
                text-transform: uppercase;
                text-align: center;
                width: 70%;
                font-size: 0.8em;
                letter-spacing: 3px;
                box-sizing: border-box;
                margin-bottom: 1em;
                // margin-top: 3em;
                +input {
                    margin: 0;
                }
                &[placeholder] {
                    font-size: 0.8em;
                    letter-spacing: 3px;
                }
                &:focus {
                    // background: $light-grey;
                    outline: none;
                    box-shadow:none;
                    background: $light-grey;
                    border: solid thin $light-main;
                }
            }
        }
    }
    .right-block {
        .buttons {
            margin: 0;
        }
    }
}

.credit {
    width: 100%;
    height: 100px;
    background-color: $light-grey;
    clear: both;
    position: relative;
    img {
        &#credit {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
